<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425135261460-9ithogvj00gnrcen3j62sb8d9055nip2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425135261460-9ithogvj00gnrcen3j62sb8d9055nip2</string>
	<key>API_KEY</key>
	<string>AIzaSyAkeBEquH0zK4haIBbe7SNLTx415A0F_5M</string>
	<key>GCM_SENDER_ID</key>
	<string>425135261460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTodo2.hyorioka</string>
	<key>PROJECT_ID</key>
	<string>mytodo2</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodo2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425135261460:ios:f3f569b6946a62702be401</string>
</dict>
</plist>